#identity {
    background-color: #2574a9;
}

#legOne {
    background-color: #2574a9;
}

#adressDel {
    background-color: #9a12b3;
}

#legTwo {
    background-color: #9a12b3;
}

#adressDel {
    background-color: #9a12b3;
}

#payment {
    background-color: #db0a5b;
    
}

#legThree {
        background-color: #db0a5b;
    }